:root {
  --first-color: #f9f9f9;
  --second-color: #14161f;
  --border-color: rgba(241, 236, 236, 0.2);
  --black-color: #000;
  --white-color: #fff;
  --incom-area-color: rgb(19, 200, 108);
  --expenses-area-color: rgb(255, 104, 104);
  --style-button-color: #79797c;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Barlow Condensed", sans-serif;
  color: var(--second-color);
  background-color: var(--second-color);
  color: var(--first-color);
  overflow-x: hidden;
}

.title {
  margin-bottom: 1.2em;
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 200;
}

.income-heading {
  margin-bottom: 1.5em;
  text-align: center;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

main .transatcions {
  width: 800px;
}

main .transatcions .transactionList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  width: 100%;
  max-width: 400px;
  padding-top: 3em;
}

.incomeArea,
.expensesArea {
  margin: 0 0.3em;
  padding: 1.2em;
  width: 50%;
  border: 1px solid var(--border-color);
}

.walletHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1em;
  height: 220px;
}

.walletHeader i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.walletHeader__header {
  margin-bottom: 0.2em;
  font-size: 3rem;
  font-weight: 200;
}

.walletHeader__text {
  font-size: 1.2rem;
}

.incomeArea__income-heading, .incomeArea__transaction-transactionAmount {
  color: var(--incom-area-color);
  font-weight: bold;
}

.expensesArea__income-heading, .expensesArea__transaction-transactionAmount {
  color: var(--expenses-area-color);
  font-weight: bold;
}

.incomeArea__transaction,
.expensesArea__transaction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.5em 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid var(--border-color);
}

.incomeArea__transaction:last-child,
.expensesArea__transaction:last-child {
  border-bottom: none;
}

.incomeArea__transaction-transactionName,
.expensesArea__transaction-transactionName {
  font-size: 1.1rem;
  margin-right: 1em;
}

.incomeArea__transaction-transactionName i,
.expensesArea__transaction-transactionName i {
  margin-right: 0.5em;
}

.incomeArea__transaction-transactionAmount,
.expensesArea__transaction-transactionAmount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.incomeArea__transaction-transactionAmount-delete,
.expensesArea__transaction-transactionAmount-delete {
  margin-left: 0.5em;
  background: none;
  border: none;
  padding: 0.5em;
  font-size: 0.9rem;
  color: var(--first-color);
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.7s;
  transition: -webkit-transform 0.7s;
  transition: transform 0.7s;
  transition: transform 0.7s, -webkit-transform 0.7s;
}

.incomeArea__transaction-transactionAmount-delete:hover,
.expensesArea__transaction-transactionAmount-delete:hover {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.options {
  position: relative;
  padding: 3em 3em;
  margin: 1em;
  border: 1px solid var(--border-color);
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.options__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.options__head .brush {
  padding: 0.5em;
  background: none;
  border: none;
  color: var(--white-color);
  font-size: 1rem;
  cursor: pointer;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}

.options__head .brush:hover {
  color: var(--border-color);
}

.options__head-text {
  margin-top: -0.1em;
  text-align: center;
  font-size: 3rem;
}

.options__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0.5em 0;
}

.options__controls i {
  margin-right: 0.4px;
}

.options__controls-addTransaction, .options__controls-deleteAll {
  width: 100%;
  padding: 0.4em 0.7em;
  margin: 1em;
  color: var(--first-color);
  border: 1px solid var(--border-color);
  border-radius: 5px;
  background: none;
  cursor: pointer;
  -webkit-transition: color 0.3s, background-color 0.3s;
  transition: color 0.3s, background-color 0.3s;
}

.options__controls-addTransaction:hover, .options__controls-deleteAll:hover {
  color: var(--first-color);
  background-color: var(--second-color);
}

.options__styleSelection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: hidden;
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100%;
}

.options__styleSelection-cancel {
  position: absolute;
  border: none;
  top: 0;
  right: 0;
  padding: 2em;
  background: none;
}

.options__styleSelection-cancel .fas {
  color: var(--style-button-color);
  font-size: 3.4rem;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.7s;
  transition: -webkit-transform 0.7s;
  transition: transform 0.7s;
  transition: transform 0.7s, -webkit-transform 0.7s;
}

.options__styleSelection-cancel .fas:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.options__styleSelection-colorButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.options__styleSelection-colorButtons-light {
  background: var(--first-color);
  border: 1px solid var(--second-color);
}

.options__styleSelection-colorButtons-dark {
  background: var(--second-color);
  border: 1px solid var(--first-color);
}

.options__styleSelection-colorButtons-light, .options__styleSelection-colorButtons-dark {
  margin: 0 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
  cursor: pointer;
}

.options__styleSelection-colorButtons-light:hover, .options__styleSelection-colorButtons-dark:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.addTransactionPanel {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  color: var(--first-color);
  background-image: linear-gradient(315deg, #4c4177 0%, #2a5470 74%);
}

.addTransactionPanel__panelButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

.addTransactionPanel__panelButtons .buttons {
  margin: 0 1.5em;
  padding: 1.3em 2.5em;
  color: var(--white-color);
  border: 1px solid var(--white-color);
  background: none;
  cursor: pointer;
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
}

.addTransactionPanel__panelButtons .buttons:hover {
  background-color: #191b33;
}

.addTransactionPanel label {
  margin-top: 2em;
  margin-bottom: 0.3em;
  font-size: 1.3rem;
}

.addTransactionPanel small {
  text-align: center;
  margin-bottom: 1em;
  font-style: italic;
  color: #ddd;
}

.addTransactionPanel input,
.addTransactionPanel select {
  width: 95%;
}

.addTransactionPanel input,
.addTransactionPanel select,
.addTransactionPanel button {
  padding: 0.8em 1em;
  border: 1px solid var(--black-color);
  border-radius: 5px;
}

.addTransactionPanel input,
.addTransactionPanel select,
.addTransactionPanel option {
  font-size: 1.1rem;
}
/*# sourceMappingURL=style.css.map */