:root {
  --first-color: #f9f9f9;
  --second-color: #14161f;
  --border-color: rgba(241, 236, 236, 0.2);
  --black-color: #000;
  --white-color: #fff;
  --incom-area-color: rgb(19, 200, 108);
  --expenses-area-color: rgb(255, 104, 104);
  --style-button-color: #79797c;
  --hover-color-button: #24293f;
}
