@import "./colors";
@import "./components";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Barlow Condensed", sans-serif;
  color: var(--second-color);
  background-color: var(--second-color);
  color: var(--first-color);
  overflow-x: hidden;
}

main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  .transatcions {
    width: 800px;

    .transactionList {
      display: flex;
    }
  }
}

.incomeArea,
.expensesArea {
  margin: 0 0.3em;
  padding: 1.2em;
  width: 50%;
  border: 1px solid var(--border-color);
}

.walletHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1em;
  height: 220px;

  i {
    display: flex;
    justify-content: center;
  }
  &__header {
    margin-bottom: 0.2em;
    font-size: 3rem;
    font-weight: 200;
  }

  &__text {
    font-size: 1.2rem;
  }
}

.incomeArea {
  &__income-heading,
  .transactionAmount {
    color: var(--incom-area-color);
    font-weight: bold;
  }
}

.expensesArea {
  &__income-heading,
  .transactionAmount {
    color: var(--expenses-area-color);
    font-weight: bold;
  }
}

.incomeArea,
.expensesArea {
  .transaction {
    display: flex;
    padding: 0.5em 0;
    justify-content: space-between;

    border-bottom: 1px solid var(--border-color);

    &:last-child {
      border-bottom: none;
    }

    .transactionName {
      font-size: 1.1rem;
      margin-right: 1em;
      i {
        margin-right: 0.5em;
      }
    }

    .transactionAmount {
      display: flex;
      align-items: center;
      // justify-content: center;

      .delete {
        margin-left: 0.5em;
        background: none;
        border: none;
        padding: 0.5em;
        font-size: 0.9rem;
        color: var(--first-color);
        cursor: pointer;
        transition: transform 0.7s;

        &:hover {
          transform: rotate(180deg);
        }
      }
    }
  }
}

.options {
  position: relative;
  padding: 3em 3em;
  margin: 1em;
  border: 1px solid var(--border-color);
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__head {
    display: flex;
    flex-direction: column;
    align-items: center;

    .brush {
      padding: 0.5em;
      background: none;
      border: none;
      color: var(--brush-color);
      font-size: 1rem;
      cursor: pointer;
      transition: color 0.4s;

      &:hover {
        color: var(--brush-color-hover);
      }
    }

    &-text {
      margin-top: -0.1em;
      text-align: center;
      font-size: 3rem;
    }
  }

  &__controls {
    display: flex;
    justify-content: space-around;
    margin: 0.5em 0;

    i {
      margin-right: 0.4px;
    }

    &-addTransaction,
    &-deleteAll {
      width: 100%;
      padding: 0.4em 0.7em;
      margin: 1em;
      color: var(--first-color);
      border: 1px solid var(--border-color);
      border-radius: 5px;
      background: none;
      cursor: pointer;
      transition: color 0.3s, background-color 0.3s;

      &:hover {
        background-color: var(--hover-color-button);
      }
    }
  }

  &__styleSelection {
    display: flex;
    visibility: hidden;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba($color: #000000, $alpha: 0.9);
    width: 100%;
    height: 100%;

    &-cancel {
      position: absolute;
      border: none;
      top: 0;
      right: 0;
      padding: 2em;
      background: none;

      .fas {
        color: var(--style-button-color);
        font-size: 3.4rem;
        cursor: pointer;
        transition: transform 0.7s;

        &:hover {
          transform: scale(1.1);
        }
      }
    }

    &-colorButtons {
      display: flex;
      &-light {
        background: var(--light-mode-color);
        border: 1px solid var(--dark-mode-color);
      }

      &-dark {
        background: var(--dark-mode-color);
        border: 1px solid var(--light-mode-color);
      }

      &-light,
      &-dark {
        margin: 0 30px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        transition: transform 0.4s;
        cursor: pointer;

        &:hover {
          transform: scale(0.9);
        }
      }
    }
  }
}

.addTransactionPanel {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  color: var(--first-color);
  background-image: linear-gradient(315deg, #4c4177 0%, #2a5470 74%);

  &__panelButtons {
    display: flex;
    justify-content: center;
    margin-top: 30px;

    .buttons {
      margin: 0 1.5em;
      padding: 1.3em 2.5em;
      color: var(--white-color);
      border: 1px solid var(--white-color);
      background: none;
      cursor: pointer;
      transition: background-color 0.4s;

      &:hover {
        background-color: var(--second-color);
      }
    }
  }
  label {
    margin-top: 2em;
    margin-bottom: 0.3em;
    font-size: 1.3rem;
  }

  small {
    text-align: center;
    margin-bottom: 1em;
    font-style: italic;
    color: #ddd;
  }

  input,
  select {
    width: 95%;
  }

  input,
  select,
  button {
    padding: 0.8em 1em;
    border: 1px solid var(--black-color);
    border-radius: 5px;
  }
  input,
  select,
  option {
    font-size: 1.1rem;
  }
}

@import "./medium";
